<%= javascript 'reports', 'ace/ace', 'puppetclasses_or_envs_changed' %>
<% title _("Changed templates") %>
<%= form_tag send("obsolete_and_new_#{controller_name}_path") do %>
  <h4><%= _("Select the changes you want to realize in Foreman") %></h4>
  <h6>
  <%= _("Toggle") %>:
  <%= link_to_function(icon_text("check", _("New")),
                       "toggleCheckboxesBySelector('.env_select_boxes_new')",
                       :title => _("Check/Uncheck new")) %> |
  <%= link_to_function(icon_text("check", _("Updated")),
                       "toggleCheckboxesBySelector('.env_select_boxes_updated')",
                       :title => _("Check/Uncheck updated")) %> |
  <%= link_to_function(icon_text("check", _("Obsolete")),
                       "toggleCheckboxesBySelector('.env_select_boxes_obsolete')",
                       :title => _("Check/Uncheck obsolete")) %>
  </h6>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="ca">
          <%= link_to_function(icon_text("check"),
                               "toggleCheckboxesBySelector('.env_select_boxes')",
                               :title => _("Check/Uncheck all")) %>
        </th>
        <th><%= _("Operation") %></th>
        <th><%= _("Type") %></th>
        <th><%= _("Template") %></th>
        <th><%= _("Changes") %></th>
      </tr>
    </thead>
    <tbody>
      <% for kind in ["new", "obsolete", "updated"] %>
        <% unless (templates = @changed[kind]).empty? %>
          <% for template in templates.keys.sort_by {|t| @changed[kind][t]['kind'] } %>
            <tr>
              <td>
                <%= check_box_tag "changed[#{kind}][#{template}]", @changed[kind][template].to_json, false, :class => "env_select_boxes env_select_boxes_#{kind} env_select_boxes_env_#{template}" %>
              </td>
              <td>
                <%= {"new" => _("Add:"), "obsolete" => _("Remove:"), "updated" => _("Update:")}[kind] %>
              </td>
              <td>
                <%= @changed[kind][template]['kind'].capitalize %>
              </td>
              <td>
                <%= template %>
              </td>
              <td>
<%= @changed[kind][template]['diff'] || _("(no diff)") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to _("Cancel"), :back, :class => "btn btn-default" %>
    <%= submit_tag _("Update"), :class => "btn btn-primary" %>
  </div>

<%# copied from reports#show for the modal diff view %>
<div id="diff-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= _("Diff View") %></h4>
      </div>
      <div  id="diff-modal-editor" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Close") %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
